<div class= "min-h-screen bg-gray-900 text-white flex flex-col items-center justify-center">
  <h1 class="font-bold text-4xl">About</h1>
  <p>Desejo compartilhar um pouco sobre mim e meu trabalho.</p>

  <div class="max-w-3xl mx-auto">
    
    <h1 class="text-4xl font-bold mb-6">Sobre mim</h1>

    <p class="mb-4 text-lg">
      Olá! Eu sou <strong>Wallisson Lopes</strong>, desenvolvedor Ruby on Rails.
    </p>

    <p class="mb-4">
      Tenho experiência em desenvolvimento web, criando aplicações rápidas,
      seguras e escaláveis. Gosto de transformar ideias em produtos reais.
    </p>

    <p class="mb-4">
      Tecnologias que uso:
    </p>

    <ul class="list-disc ml-6 space-y-2">
      <li>Ruby on Rails 8</li>
      <li>JavaScript (Hotwire / Stimulus)</li>
      <li>PostgreSQL</li>
      <li>TailwindCSS</li>
    </ul>

  </div>
</div>