  <!-- HERO -->
<div class="min-h-screen bg-gray-900 text-white flex flex-col items-center justify-center">
  <h1 class="text-5xl font-bold mb-4">Wallisson-tech</h1>
  <p class="text-xl mb-6">Desenvolvendo com <span class="font-bold text-red-500">Ruby</span> on Rails 💎</p>

  <p class="text-xl md:text-2xl max-w-2xl mb-8 text-gray-600 dark:text-gray-300">
      Desenvolvedor Ruby on Rails criando aplicações modernas, rápidas e escaláveis.
  </p>

  <div class="flex gap-4">
      <%= link_to "Ver Projetos", projects_path,
        class: "bg-blue-500 hover:bg-blue-600 text-white px-6 py-3 rounded-xl shadow" %>
  </div>

    <!-- CTA -->
  <section class="py-20 px-6 bg-blue-500 text-white text-center">
    <h2 class="text-3xl font-bold mb-4">
      Vamos trabalhar juntos?
    </h2>

    <p class="mb-6 text-lg">
      Estou disponível para novos projetos e oportunidades.
    </p>
  </section>
