<div class="min-h-screen bg-gray-900 text-white flex flex-col items-center justify-center">
  <h1 class="text-5xl font-bold mb-4">Wallisson-tech</h1>
  <p class="text-xl mb-6">Desenvolvendo com Ruby on Rails</p>

  <h1 class="text-5xl text-red-500 font-bold">
  Tailwind está funcionando?
</h1>

<div class="bg-blue-500 text-white p-4">
  Se isso estiver azul, deu certo 🚀
</div>

  <div class="flex gap-4">
    <%= link_to "Projetos", projects_path, class: "bg-blue-500 px-4 py-2 rounded" %>
    <a href="#contato" class="bg-gray-700 px-4 py-2 rounded">Contato</a>
  </div>
</div>